.pd-main-layout {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    min-height: 100%;
}

.pd-search-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 8%;
    flex: 1;
    max-width: 40%;
}

.container {
    flex: 3;
    max-width: 65%;
}

.pd-search-input {
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
}

.pd-search-button {
    background-color: rgb(236, 80, 12);
    padding: 10px;
}

.podcast-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 80px;
}

.podcast-container img {
    height: 400px;
}

.podcast-container p {
    width: 60%;
}

.pd-description {
    font-size: 30px;
    margin: 8px 0;
}

.pd-description:hover {
    cursor: pointer;
    color: orangered;
    text-decoration: underline;
}

.pd-description2 {
    font-size: 20px;
    margin: 8px 0;
}

.pd-button {
    font-size: 20px;
    color: orangered;
}

.pd-button:hover {
    color: rgb(234, 99, 50);
}

.pd-navigation {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-navigation a {
    margin: 0 8px;
    text-decoration: none;
    color: #007bff;
}

.pd-navigation a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.pd-card {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .pd-main-layout {
        flex-direction: column;
    }
    .pd-order-search{
        order: 2;
    }
    .pd-search-container{
        order: 1;
    }

    .container {
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    .pd-description {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .pd-card {
        width: 100%;
    }
}
